body{
margin:0;
font-family:Arial;
background:#0a0f1a;
color:white;
}

header{
background:#020617;
padding:20px;
text-align:center;
}

nav button{
margin:5px;
padding:10px;
}

section{
padding:20px;
}

table{
width:100%;
border-collapse:collapse;
}

th,td{
padding:10px;
border-bottom:1px solid #333;
text-align:center;
}

input,select,button{
padding:8px;
margin:5px;
}

#login{
height:100vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
}

#app{
display:none;
}